@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  background: #f7f7f7;
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
